@media screen and (max-width: 768px) {
    .cabecalho > i {
        position: fixed;
        z-index: 2;
        right: 0;
        font-size: 30px;
        display: block;
        background-color: #F5CC27;
        color: black;
        margin: 25px;
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;
    }

    .cabecalho-content {
        background-color: rgba(0, 0, 0, 0.880);
        height: 100vh;
        border-bottom: none;
        flex-direction: column;
        justify-content: center;
        display: none;
    }

    .cabecalho-menu {
        flex-direction: column;
        text-align: center;
        padding-bottom: 20px;
    }

    .cabecalho-content img {
        background-color: black;
        width: 280px;
        padding: 20px;
        margin-bottom: 30px;
        border-radius: 10px;
        box-shadow: 2px 2px 3px black;
    }

    .cabecalho-menu a {
        font-size: 1.2em;
    }

    .cabecalho-content nav a::after {
        top: 30px;
    }

    .inicio {
        border-top: none;
    }

    .inicio-txt h2 {
        font-size: 3.7em;
    }

    .sobre {
        height: 100%;
        padding: 30px;
    }

    .sobre-content h2 {
        font-size: 3em;
    }

    .sobre-content p {
        font-size: 1em;
    }

    .sobre-content img {
        width: 320px;
    }

    .projetos {
        height: 100%;
    }

    .habilidades-content h2 {
        font-size: 3em;
    }

    .footer {
        flex-direction: column;
        gap: 15px;
    }
}

@media screen and (max-width: 1050px) {
    .sobre-content {
        flex-direction: column;
        max-width: 600px;
    }

    .projetos-box {
        flex-direction: column;
    }
}