@media screen and (max-width: 768px) {
    
    .cabecalho > i {
        position: fixed;
        z-index: 2;
        right: 0;
        font-size: 25px;
        display: block;
        background-color: #F5CC27;
        color: black;
        margin: 20px;
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;
    }

    .cabecalho-menu {
        background-color: #000;
        flex-direction: column;
        position: absolute;
        top: 91px;
        right: -200px;
        padding: 30px 40px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
        transition: .5s;
    }

    .mostrar-menu {
        right: 0 !important;
    }

    .cabecalho-content {
        position: relative;
        height: 91px;
    }

    .cabecalho-content img {
        background-color: black;
        padding: 20px;
        width: 190px;
        position: absolute;
        left: 0;
        top: 0;
    }

    .cabecalho-menu a {
        font-size: 1.2em;
    }

    .cabecalho-content nav a::after {
        top: 30px;
    }

    .inicio {
        border-top: none;
    }

    .inicio-txt h2 {
        font-size: 3.7em;
    }

    .sobre {
        height: 100%;
        padding: 30px;
    }

    .sobre-content h2 {
        font-size: 3em;
    }

    .sobre-content p {
        font-size: 1em;
    }

    .footer {
        gap: 15px;
    }

    .footer-sociais, .footer-creditos {
        text-align: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1050px) {

    .sobre-content p {
        font-size: 1.2em;
    }

    .sobre-content img {
        width: 320px;
    }
}