@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Roboto&display=swap');

/* font-family: 'Roboto', sans-serif; normal */
/* font-family: 'Passion One', cursive; destaque */

/* 
    --main-color: #F5CC27;
    --bg-color1: #ffffff;
    --bg-color2: #000000;
    --color1: #ffffff;
    --color2: #000000;
*/

/* Gerais */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}


:root {
    --main-color: #0A66C2;
    --bg-color1: #ffffff;
    --bg-color2: #000000;
    --color1: #ffffff;
    --color2: #000000;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 69px;
}

body {
    font-size: 100%;
    color: var(--color1);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Passion One', cursive;
    color: var(--color1);
}

p, a {
    font-family: 'Roboto', sans-serif;
    color: var(--color1);
}

section {
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    border-top: 2px solid var(--color2);
}
/* Gerais */

/* animações */

[data-anima] {
    opacity: 0;
    transition: 1s;
}

[data-anima="down"] {
    transform: translate3d(0, -50px, 0);
}

[data-anima="up"] {
    transform: translate3d(0, 50px, 0);
}

[data-anima="left"] {
    transform: translate3d(-30px, 0, 0);
}

[data-anima="right"] {
    transform: translate3d(30px, 0, 0);
}

[data-anima].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/* animações */

/* Cabeçalho */
header.cabecalho {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.cabecalho > i {
    display: none;
}

.cabecalho-content {
    background-color: var(--color1);
    border-bottom: 2px solid var(--color2);
    padding: 20px 20px;
    display: flex;
    justify-content: space-around;
    box-shadow: 2px 0px 2px #000000;
}

.cabecalho .cabecalho-img, nav {
    padding: 4px;
}

.cabecalho-menu {
    display: flex;
    gap: 30px;
}

.cabecalho-menu a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--color2);
    background-color: #0a66c231;
    padding: 0px 10px;
    border-radius: 10px;
    position: relative;
}

.cabecalho-content nav a::after {
    position: absolute;
    content: " ";
    width: 0px;
    height: 4px;
    border-radius: 2px;
    background-image: linear-gradient(to right, var(--main-color), #e9e6da);
    top: 23px;
    left: 0;
    transition: .3s;
}

.cabecalho-content nav a:hover::after {
    width: 100%;
}

.cabecalho-menu a:hover {
    color: var(--main-color);
    transform: scale(1.05);
}

.cabecalho-content nav a:active {
    color: var(--main-color);
}
/* Cabeçalho */

/* Início */
#inicio {
    height: 100vh;
    position: relative;
}

.inicio-txt {
    position: absolute;
    top: 40%;
    left: 15%;
}

.inicio-txt > h2 {
    color: var(--color2);
    font-weight: 700;
    font-size: 5em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
}

.inicio-txt p {
    font-family: 'Roboto', sans-serif;
    color: var(--color2);
    font-weight: 400;
    font-size: 1.5em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
}

.nome-destaque {
    color: var(--main-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
}
/* Início */

/* Sobre */
#sobre {
    padding: 30px;
}

.sobre-content {
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 60px;
}

.sobre-content img {
    width: 400px;
}

.sobre-txt {
    background-color: var(--bg-color1);
    max-width: 600px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.452);
    border: 1px solid, black;
}

.sobre-txt > h2 {
    font-family: 'Passion One', cursive;
    font-size: 60px;
    margin-bottom: 30px;
    color: var(--main-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
}

.sobre-txt > p {
    font-size: 23px;
    text-indent: 60px;
    text-align: justify;
    color: var(--color2);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
}
/* Sobre */

/* Projetos */
#projetos, #projetos-m {
    padding: 30px;
    min-height: 100vh;
}

section.projetos {
    border-top: none;
}

section.projetos h2 {
    border-top: 2px solid var(--color2);
    padding-top: 30px;
}

.projetos-content, .projetos-content-m {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 0 auto;
}

.projetos-content > h2, .projetos-content-m > h2 {
    font-family:  'Passion One', cursive;
    text-align: center;
    font-size: 70px;
    color: var(--main-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
}

.projetos-box, .projetos-box-m {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
    position: relative;
}

.projetos-caixa, .projetos-caixa-m {
    background-color: var(--bg-color1);
    height: 180px;
    width: 320px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.411);
    border: 1px solid black;
    transition: 0.2s;
}

.projetos-caixa-m img {
    width: 100%;
}

.projetos-caixa:hover, .projetos-caixa-m:hover {
    transform: scale(1.01) translateY(-3px);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.425);
}

.projeto-mais-container {
    background-color: var(--bg-color2);
    position: fixed;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
    z-index: 2;
    padding: 20px;
    border-radius: 20px;
    width: 1000px;
    transition: .2s;
    scale: 0;
    opacity: 0;
}

.projeto-mais-ativo {
    scale: 1 !important;
    opacity: 1 !important;
}

.projeto-mais-container h2 {
    font-family:  'Passion One', cursive;
    text-align: center;
    font-size: 50px;
    color: var(--main-color);
    margin-bottom: 20px;
}

.projeto-mais {
    display: flex;
    gap: 15px;
    position: relative;
}

.projeto-mais i {
    position: absolute;
    right: 0px;
    top: -80px;
    font-size: 1.4em;
    cursor: pointer;
}

.projeto-mais img {
    width: 600px;
    border-radius: 10px;
    border: 2px solid var(--color1);
}

.projeto-mais-txt {
    background-color: var(--bg-color1);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projeto-mais-link {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.projeto-mais-link div {
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    background: var(--bg-color2);
    transition: .2s;
}

.projeto-mais-link div:hover {
    transform: scale(1.03)  translateY(-2px);
}

.projeto-mais-txt p {
    font-size: 1.5em;
    text-align: justify;
    font-family:'Roboto', sans-serif;
    color: var(--bg-color2);
}

.projeto-mais-link div a {
    color: var(--color1);
    font-size: 18px;
    text-align: center;
    font-family:'Roboto', sans-serif;
}

.caixa-breve {
    background-color: var(--bg-color2);
    width: 500px;
    text-align: center;
    padding: 5% 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-34deg);
}

.caixa-breve p {
    color: var(--main-color);
    font-size: 18px;
}

.projetos-link {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    border-radius: 50px;
    background: var(--bg-color2);
    transition: .2s;
}

.projetos-link a {
    color: var(--color1);
    font-size: 1.2em;
    text-align: center;
    font-family:'Roboto', sans-serif;
}

.projetos-link:hover {
    transform: scale(1.03)  translateY(-2px);
}
/* Projetos */

/* Habilidades */
#habilidades {
    padding: 30px;
}

.habilidades-content {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 0 auto;
}

.habilidades-box {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    width: 50%;
}

.habilidades-caixa {
    background-color: var(--bg-color1);
    border-radius: 20px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.404);
    border: 1px solid var(--color2);
    transition: 0.3s;
    cursor: pointer;
    width: 130px;
}

.habilidades-caixa > img {
    width: 100%;
    padding: 15px;
}

.habilidades-caixa:hover {
    transform: scale(1.03) translateY(-3px);
}

.habilidades-content > h2 {
    font-family:  'Passion One', cursive;
    text-align: center;
    font-size: 70px;
    color: var(--main-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
}

.habilidades-caixa > h3 {
    color: var(--color2);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    padding: 5px;
    border-top: 1px solid var(--color2);
}

.habilidades-container {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    position: relative;
}

.habilidades-sobre-explica {
    font-size: 1.5em;
    padding: 30px;
}

.habilidades-sobre{
    width: 50%;
}

.habilidades-sobre-caixa {
    background: var(--bg-color1);
    border: 1px solid black;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.452);
    padding: 30px;
    border-radius: 20px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: .3s;
}

.habilidades-ativo {
    opacity: 1 !important;
}

.habilidades-sobre-caixa h3 {
    color: var(--main-color);
    font-size: 2.8em;
}

.habilidades-sobre-caixa p {
    color: var(--color2);
    font-size: 1.5em;
}
/* Habilidades */

/* Footer */

footer {
    background-color: var(--bg-color1);
    width: 100%;
    box-shadow: -2px 0px 3px #000000;
    border-top: 2px solid var(--color2);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 15px;
    flex-wrap: wrap;
}

.footer-creditos {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer p {
    color: var(--color2);
    font-size: 20px;
    font-weight: 400;
}

footer img {
    background-color: var(--bg-color1);
    padding: 7px;
    border-radius: 10px;
    border: 1px solid var(--color2);
    transition: 0.8s;
}

.footer-sociais {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.footer-sociais a:hover > img {
    transform: rotateX(360deg) scale(1.1);
}
/* Footer */