@media screen and (max-width: 768px) {
    section {
        min-height: 80vh;
    }

    .cabecalho > i {
        position: fixed;
        z-index: 2;
        right: 0;
        font-size: 25px;
        display: block;
        background-color: #0A66C2;
        color: #000;
        margin: 20px;
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;
    }

    .cabecalho-menu {
        background-color: #fff;
        flex-direction: column;
        position: absolute;
        top: 91px;
        right: -200px;
        opacity: 0;
        padding: 30px 40px;
        border-radius: 0px 0px 20px 20px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
        border: 1px solid #000;
        transition: .8s;
    }

    .mostrar-menu {
        right: 0 !important;
        opacity: 1 !important;
    }

    .cabecalho-content {
        position: relative;
        height: 91px;
    }

    .cabecalho-content img {
        background-color: black;
        padding: 20px;
        width: 190px;
        position: absolute;
        left: 0;
        top: 0;
    }

    .cabecalho-menu a {
        font-size: 1.2em;
    }

    .cabecalho-content nav a::after {
        top: 30px;
    }

    .inicio {
        border-top: none;
    }

    .inicio-txt h2 {
        font-size: 3em;
    }

    .inicio-txt p {
        font-size: 1.2em;
    }

    .sobre-content h2 {
        font-size: 2.5em;
    }

    .sobre-content p {
        font-size: 1em;
    }

    .projetos-caixa, .projetos-caixa-m {
        width: 150px;
        height: 100%;
    }

    .sessao h2 {
        font-size: 3em;
    }

    .projeto-mais-container {
        width: 75%;
    }

    .projeto-mais {
        flex-direction: column;
    }

    .projeto-mais-container h2 {
        font-size: 35px;
    }

    .projeto-mais i {
        top: -70px;
    }

    .projeto-mais img {
        width: 100%;
    }

    .projeto-mais-txt p {
        font-size: 1em;
        margin-bottom: 10px;
    }

    .projeto-mais-link div a {
        font-size: 1em;
    }

    .projetos-link p {
        font-size: 1em;
    }

    .caixa-breve p {
        font-size: .8em;
    }

    .habilidades-box {
        width: 100%;
    }

    .habilidades-caixa {
        width: 100px;
    }

    .habilidades-caixa > img {
        width: 100%;
    }

    .habilidades-caixa > h3 {
        font-size: 18px;
    }

    .habilidades-container {
        gap: 5px;
    }

    .habilidades-sobre-explica {
        font-size: 1em;
        padding: 10px;
    }

    .habilidades-sobre-caixa {
        padding: 10px;
    }

    .habilidades-sobre-caixa h3 {
        font-size: 2em;
    }

    .habilidades-sobre-caixa p {
        font-size: 1em;
    }

    .footer {
        gap: 15px;
    }

    .footer p {
        font-size: 1em;
    }

    .footer-sociais, .footer-creditos {
        text-align: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1050px) and (min-width: 768px) {

    .sobre-content p {
        font-size: 1.2em;
    }

    .sobre-content img {
        width: 320px;
    }

    .projeto-mais-container {
        width: 60%;
    }

    .projeto-mais {
        flex-direction: column;
    }

    .projeto-mais-container h2 {
        font-size: 40px;
    }

    .projeto-mais img {
        width: 100%;
    }

    .projeto-mais-txt p {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    .projeto-mais-link div a {
        font-size: 16px;
    }
}